.turnScore {
  padding: 10px; 
  margin: 10px;  
  border: .5px solid black; 
  width: 50%; 
}

.center {
  text-align: center;
}

.picDie, .player1Winner, .player2Winner {
  display: none;
}

.player1Winner, .player2Winner {
  color: red;
}

.showScore{
  text-decoration: underline;
}